body {
    background-color: #171717;
    color: white;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

nav {
     background-color: #27AE60;
}

.text-grey {
    color: #828282;
}


.btn-success {
    background-color: #27AE60;
    outline: #27AE60;
}

.nav-link {
    color: white;
}

.text-success {
    color: #27AE60;
}

.form-control {
    background-color: #171717;
    color: white;
}